<html>
<body style="display: flex;flex-direction: column;">
    <h1 style="text-align: center;font-weight: bold;background-color: rgb(10, 28, 146);color: white; padding: 25px 20px;font-size: 50px;">Driver Drowsiness Detection</h1>
   
    <div style="display: flex;flex-direction: row;align-items: center;justify-content: space-around;">

        <img src="https://cdn.prod.website-files.com/595d6b420002832258c527cb/618abc9cdfbae01bc36d2ce5_hero_advanced_drowsiness.jpg" alt="fdf" width="250px" height="150px">
        <!-- <img src="assest/1.jpg" alt="fdf" width="250px" height="150px"> -->
        <dev style="text-align: center;">
            <img src="{{ url_for('video') }}" width="100%"/>
            <p></p>
        </dev>
        <!-- <img src="/assest/2.webp" alt=""> -->
        <img src="https://cdn.prod.website-files.com/595d6b420002832258c527cb/618abc9cdfbae01bc36d2ce5_hero_advanced_drowsiness.jpg" alt="fdf" width="250px" height="150px">

    </div>
    

    <footer style="background-color: black; color: white; text-align: center;">
        <!-- <p>&copy;Ankush Kanjikar</p> -->
        <p>&copy; </p>

    </footer>
</body>
</html>